# Editor Files
.vscode/
.idea/
.cursor/

# Dependencies
**/node_modules/

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build Outputs
**/out/
**/.next/
**/build/
**/dist/

# Tools and Services
**/.turbo/
**/.wrangler/

# Testing
**/coverage/

# Logs
**/*-debug.log*
**/*-error.log*

# Miscellaneous
.DS_Store
*.pem

# Docker and Git
.git
.gitignore
Dockerfile
.dockerignore

# Documentation
*.md