# Set default behavior to automatically normalize line endings
* text=auto

# Force specific files to have CRLF line endings on checkout
*.bat text eol=crlf
*.cmd text eol=crlf

# Force specific files to have LF line endings on checkout
*.sh text eol=lf
biome.ci.json text eol=lf

# These files are always treated as binary
*.jpg binary
*.png binary
*.gif binary
*.ico binary
*.woff binary
*.woff2 binary
*.ttf binary
*.eot binary